<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>DrinkME: URL Shortener</title>

<!-- Styles -->
<link rel="stylesheet" href="/theme/css/bootstrap.min.css" type="text/css" /><!-- Bootstrap -->
<link rel="stylesheet" href="/theme/css/line-awesome.min.css" type="text/css" /><!-- Icons -->

<link rel="stylesheet" href="/theme/css/style.css" type="text/css" /><!-- Style -->	
<link rel="stylesheet" href="/theme/css/responsive.css" type="text/css" /><!-- Responsive -->	
<link rel="stylesheet" href="/theme/css/colors/colors.css" type="text/css" /><!-- color -->		

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<style>
.logout-btn {
    background: green none repeat scroll 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    font-family: Roboto;
    font-size: 14px;
    margin: 5px 0;
    padding: 13px 23px;
}
</style>
</head>
<body>
<div class="page-loading">
	<div class="loadery"></div>
</div>
<div class="theme-layout">

	<div class="responive-header">
		<div class="logo"><a href="{{ path('index_index') }}" title="">DrinkME URL Shortener</div>
	</div><!-- Responsive-header -->
	
	<header class="on-top dark">
		<div class="logo"><a href="{{ path('index_index') }}" title="">DrinkME Url Shortener</a></div>
	</header>

    {%block content %}{% endblock %}

	<footer>
		<div class="block remove-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 column">
						<div class="widget">
							<h3 class="footer-title">DrinkME URL Shortener</h3>
							<div class="about-widget">
								<p>If you drink it, you will shrink.</p>
								<ul>
									<li><div class="addthis_inline_share_toolbox"></div></li>
								</ul>
							</div>
						</div><!-- Widget -->
					</div>
					<div class="col-md-6 column">
						<div class="widget">
							<h3 class="footer-title">CONTACT US</h3>
							<div class="contact-widget">
								<ul>
									<li>
										<i class="la la-envelope"></i>
										<span>E-mail Address</span>
										<span><a href="mailto:bklein73@gmail.com">bklein73@gmail.com</a></span>
									</li>
								</ul>
							</div>
						</div><!-- Widget -->
					</div>
				</div>
			</div>
			<div class="bottom-line">
				<span>Copyright Ben Klein © 2021. All Rights Reserved</span>
			</div>
		</div>
	</footer>
	
</div>

<!-- Script -->
<script type="text/javascript" src="/theme/js/modernizr.js"></script><!-- Modernizer -->
<script type="text/javascript" src="/theme/js/jquery-2.1.1.js"></script><!-- Jquery -->
<script type="text/javascript" src="/theme/js/script.js"></script><!-- Script -->
<script type="text/javascript" src="/theme/js/bootstrap.min.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="/theme/js/scrolltopcontrol.js"></script><!-- ScrollTopControl -->
<script type="text/javascript" src="/theme/js/slick.min.js"></script><!-- Slick -->
<script type="text/javascript" src="/theme/js/scrolly.js"></script><!-- Slick -->
<script type="text/javascript" src="/theme/js/sumoselect.js"></script><!-- Nice Select -->
<script type="text/javascript" src="/theme/js/choosen.min.js"></script><!-- Nice Select -->
<script type="text/javascript" src="/theme/js/rangeslider.js"></script><!-- Nice Select -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f8788a10798b4df"></script>

</body>
</html>